//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1

          h1.uk-margin-large-top
            | #{siteName} : #{pageName}

          h2.uk-h3 Templates

          ul
            li
              a(href="template-standard.html") Standard
            li
              a(href="template-section.html") Section
            li
              a(href="template-landing.html") Landing
            li
              a(href="template-a-z.html") A-Z
            li
              a(href="template-search-results.html") Search Results
            li
              a(href="template-news-index.html") News Index
            li
              a(href="template-news-article.html") News Article
            li
              a(href="template-catalogue.html") Catalogue


  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug

  </body>
