//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Index Template"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-6-10.gef-main-content.gef-news

          h1
            | News

          article

            +gef_featured_teaser

          section

            h1.show-on-sr
              | News articles ordered by most recent date

            //-- Mobile Category Select

            form(id="frm01" action="" method="GET")
              div.gef-form.gef-form--inline.uk-width-large-8-10.uk-margin-remove.uk-hidden-large
                fieldset
                  legend.show-on-sr Category Select
                  +gef_select("Select Category", 4, 1, 1)
                  input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")

            //-- Article listing

            mixin gef_flex_grid_mixin
              +gef_news_teaser
            +gef_flex_grid(5, "simple")

            hr

            +gef_pagination(5)

        +gef_back_to_top

        //--- SIDEBAR

        aside.uk-width-large-4-10.gef-rhs

          h1.show-on-sr
            | Related content

          //--- NEWS CATEGORIES

          nav.uk-visible-large

            h2.uk-h3.uk-margin-bottom.uk-margin-large-top.black News categories

            +gef_category_list(4)


          //- CONTENT PANEL -//

          mixin sidebar_content

            p
              +lipsum(15, "words", true)

            +gef_link_list(3)

          +gef_sidebar_content



          //- NEWSLETTER Signup -//

          +gef_newsletter_signup


          //--- PROMO

          mixin sidebar_content

            p
              +lipsum(15, "words", true)

          +gef_sidebar_content

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../bower_components/GEF/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>